# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/

# Docker
Dockerfile
.dockerignore

# Misc
*.log
.DS_Store
README.md